@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -mos-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transition_delay($transition...) {
    -webkit-transition-delay: $transition;
    -moz-transition-delay: $transition;
    -mos-transition-delay: $transition;
    -o-transition-delay: $transition;
    transition-delay: $transition;
}